<html>
<head>
     <script type="text/javascript" src="js/scripts.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        </head>
        <body background="images/giphy1.gif" align="middle">
        <center>   
<div class="ty">
    <%=p "Thank You"%>
    <br><br>
    </div>
<div class="results">
    <%=p "#{first_name} #{last_name}"%>
    <br><br>
    <%=p "#{street}"%>
    <br><br>
    <%=p "#{city}"%>
    <br><br>
    <%=p "#{state}"%>
    <br><br>
    <%=p "#{zip}"%>
    <br><br>
    <% total = num1.to_f+num2.to_f+num3.to_f%>   
    <%=p "and the sum of your favorite numbers is #{total} "%>
    </div>
    </center>
    </body>
</html>
        <%# <body background="images/giphy1.gif" align="middle">
